{% extends 'main/base.html' %}
{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="col-12">
            <div class="row g-3 align-items-center">
                <div class="col-3">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card mb-3 mt-4 box-shadow">
                        <div class="card-header text-center mb-3">
                            <h4 class="my-0 font-weight-normal mb-3 mt-2">Вход в систему</h4>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <button class="btn active me-md-2" type="submit" style="background-color: #d1f4fd">Войти</button>
                                <a href="{% url 'users:password_reset' %}" class="btn active" type="button" style="background-color: #fdd9d1">Восстановить
                                    пароль</a>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-2">
                                <p><a href="{% url 'users:register' %}" class="link-secondary" >Зарегистрироваться</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>
    </form>
</div>
{% endblock %}
