{% extends 'main/base.html' %}
{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="col-12">
            <div class="row g-3 align-items-center">
                <div class="col-3"></div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card mb-3 mt-4 box-shadow">
                        <div class="card-header text-center mb-3">
                            <h4 class="my-0 font-weight-normal mb-3 mt-2">Введите новый пароль</h4>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            <fieldset class="module aligned">
                                <div class="mb-3 row">
                                    <label for="email" class="col-sm-3 col-form-label">Ваша почта:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" autocomplete="email" value="{{ form.user.email }}"
                                               id="email">
                                    </div>
                                    <label for="id_new_password1" class="col-sm-3 col-form-label mt-3">Новый
                                        пароль:</label>
                                    <div class="col-sm-9 mt-3">
                                        <input type="password" class="form-control" name="new_password1"
                                               autocomplete="new-password" required="" aria-invalid="true"
                                               aria-describedby="id_new_password1_helptext" id="id_new_password1"
                                               aria-autocomplete="list">
                                        {{ form.new_password1.errors }}
                                    </div>
                                    <label for="id_new_password2" class="col-sm-3 col-form-label mt-3">Повторите
                                        пароль:</label>
                                    <div class="col-sm-9 mt-4">
                                        <input type="password" class="form-control" name="new_password2"
                                               autocomplete="new-password" required="" aria-invalid="true"
                                               id="id_new_password2">
                                        {{ form.new_password2.errors }}
                                    </div>
                                </div>
                            </fieldset>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <button class="btn active me-md-2" type="submit" style="background-color: #fdd9d1">Восстановить пароль
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
