{% extends 'main/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card mb-3 mt-4 box-shadow">
                <div class="card-header text-center mt-4">
                    <h4 class="my-0 font-weight-normal">Действительно хотите удалить свой профиль?</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="bth-group text-center mt-4">
                            <button type="submit" class="btn active mt-4 me-3" style="background-color: #d1f4fd">
                                Удалить
                            </button>
                            <div class="btn-group">
                                <a href="{% url 'main:index' %}" class="btn btn active mt-4 me-3"
                                   aria-current="page" style="background-color: #fdd9d1">
                                    Отмена
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}
